<h1>my fancy pseudo checkbox toggle slider oder so</h1>
<app-css-checkbox></app-css-checkbox>
<p>nicht ausgewählt</p>
<div class="switch_box">
    <input type="checkbox" class="switch_2">
  </div>

<p>ausgewählt</p>
<div class="switch_box box_2">
  <input type="checkbox" checked class="switch_2">
</div>

<p>disabled, nicht ausgewählt</p>
  <div class="switch_box box_2">
    <input type="checkbox" class="switch_2" disabled="disabled">
  </div>

<p>disabled, ausgewählt</p>
<div class="switch_box box_2">
  <input type="checkbox" checked class="switch_2" disabled="disabled">
</div>


